body
{
	font-family:Arial,Sans-Serif; background-color:#EBEBEB;
	font-size:10pt;

}

img	{border:0;}

td
{
	color:#000000;
	font-family:Arial,Sans-Serif;
}

tr
{
	color:#000000;
	font-family:Arial,Sans-Serif;
}

tr.bouquet
{
	background-color:#88B5FF;
}


h1{font-family:Arial,Sans-Serif;	color:#008ADE;}
h2{font-family:Arial,Sans-Serif;	color:#008ADE;}
h3{font-family:Arial,Sans-Serif;	color:#008ADE;}
h4{font-family:Arial,Sans-Serif;	color:#008ADE;}
h5{font-family:Arial,Sans-Serif;	color:#008ADE;}

.epg
{
	color:#000000;
}

a
{ 
	color:#000000;
	font-size:10pt;
	text-decoration:none; 
}

a:hover.blist
{ 
	color:#000000;
	font-size:10pt;
	text-decoration:underline;
	font-weight:bold;
}

a:hover.clist
{ 
	color:#000000;
	font-size:10pt;
	text-decoration:underline;
	font-weight:bold;
}

a:hover.clistsmall
{ 
	color:#000000;
	font-size:10pt;
	text-decoration:underline;
}

a:hover.elist
{ 
	color:#000000;
	font-size:10pt;
	text-decoration:underline;
	font-weight:bold;
}

.a
{
	background-color:#E0E0E0;
	font-weight:bold;
	font-family:Arial,Sans-Serif;
	font-size:11pt;
	padding-left: 10px;
	padding-right: 20px;
}

.aepg
{
	background-color:#E0E0E0;
	font-weight:normal;
	font-size:10pt;
	padding-left: 10px;
}

.b
{
	background-color:#C0C0C0;
	font-weight:bold;
	font-size:11pt;
	padding-left: 10px;
	padding-right: 20px;
}

.bepg
{
	background-color:#C0C0C0;
	font-weight:normal;
	font-size:10pt;
	padding-left: 10px;
}

.c
{
	background-color:#88B5FF;
	font-weight:bold;
	font-size:11pt;
	padding-left: 10px;
 	padding-right: 20px;
}

.cepg
{
	background-color:#88B5FF;
	font-weight:normal;
	font-size:10pt;
	padding-left: 10px;
}

table.timer
{
        border-collapse: separated;
	border-spacing: 0px 2px;    	
}

a.timer
{
	color:#000080;
	text-decoration:underline;
}

.atimer
{
	background-color:#E0E0E0;
	font-weight:normal;
	font-size:9pt;
	padding-left: 5px;
	padding-right: 5px;
}

.btimer
{
	background-color:#C0C0C0;
	font-weight:normal;
	font-size:9pt;
	padding-left: 5px;
	padding-right: 5px;
}

.ctimer
{
	background-color:#88B5FF;
	font-weight:normal;
	font-size:9pt;
	padding-left: 5px;
	padding-right: 5px;
}