body
{
	font-family: Arial,Sans-Serif;
	background-color: White;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.y_menu_prim
{
	font-size: 10pt;
	text-align: center;
	font-weight: bold;
	border: 1px solid #177298;
	border-collapse: collapse;
	background: #EDF6F7;
	border-spacing: 1px;
}

.y_menu_prim a:hover
{
	text-decoration:underline;
	font-weight:bold;
}

.y_menu_logo
{
	background-image: url(images/tuxbox3.gif);
	background-position: center;
	background-repeat: no-repeat;
}
.y_menu_sec
{
	font-size: 10pt;
	text-align: center;
	font-weight: bold;
	border: 1px solid #177298;
	border-collapse: collapse;
	background: #EDF6F7;
	border-spacing: 1px;
}

.y_menu_sec a:hover
{
	text-decoration:underline;
	font-weight:bold;
}


.y_audio_bar
{
	background: #177298;
}

.y_head
{
	font: bold large;
	color: #177298;
	font-size: 14pt;
}

.y_work_box
{
	border: 1px solid #177298;
	background: White;
	border-spacing: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	float:left;
}

.y_work_table
{
	border: 1px solid #35AFE1;
	background: White;
	border-collapse: collapse;
	border-spacing: 1px;
}

.y_wait_box
{
	font-size: 10pt;
	border: 1px solid #CC0000;
	border-collapse: collapse;
	background: #FFFFCC;
	border-spacing: 1px;
}

.y_live_button
{
	font-size: 8pt;
	height: 20px;
}

