body
{
	font-family: Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
	background-color: White;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size:10pt;
	color: #436976; 
}

img	{border:0;}
button{font-family:Arial,Sans-Serif;	color:#436976;}
input{font-family:Arial,Sans-Serif;	color:#436976;}
select{font-family:Arial,Sans-Serif;	color:#436976;}
a
{ 
	color: #436976; 
	font-size:10pt;
	text-decoration:none; 
}

td
{
	color: #436976; 
	font-family:Arial,Sans-Serif;
	font-size:10pt;
}

tr
{
	color: #436976; 
	font-family:Arial,Sans-Serif;
	font-size:10pt;
}
/* primary Navigation */
.y_menu_item {
    margin: 0;
    display: block;
    background-repeat: no-repeat;
    /*background-position: 0 1px;*/
}
.y_menu_prim {
    background-color: transparent;
    padding: 0em 0em 0em 0em;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    height: auto;
    line-height: normal;
}
.y_menu_prim li {
    display: inline;

}
.y_menu_prim_item {
    margin: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 1px;
    text-align:center;
}
.y_menu_prim li a {
    background-color: #F0FAFF;
    border-color: #6D96A9;
    border-width: 1px; 
    border-style: solid;
    color: #436976;
    height: auto;
    padding: 0em 1.5em;
    text-decoration: none;
}
.y_menu_prim li.selected a {
    background-color: #dee7ec;
    border: 1px solid #6D96A9;
    color: #436976;
}
.y_menu_prim li a:hover {
    background-color: #dee7ec;
    border-color: #6D96A9;
    color: #436976;
}

/* secondary Navigation */
.y_menu_sec {
	margin: 0px;
    padding: 0em 0em 0em 0em;
/*    white-space: nowrap;
    height: auto;
    line-height: normal;*/
}
.y_menu_sec ul {
	padding: 0em 0em 0em 0em;
	list-style: none;
	margin: 0px;
}

.y_menu_sec li {
	border: 1px solid #6D96A9;
	background-color:  #F0FAFF;
	text-align: center;
	height: auto;
	margin-bottom: 1px;
	width: 100px;
	color: #436976
}
.y_menu_sec li.disabled {
    text-align: center;
    background-color: #EBEBEB;
    border-color: #808080;
    border-width: 1px; 
    border-style: solid;
    height: auto;
    margin-bottom: 0.1em;
    color: #808080
}
.y_menu_sec li a {
    text-decoration: none;
}
.y_menu_sec li.selected a {
    color: #436976
}
.y_menu_sec li.disabled a {
}
.y_menu_sec li a:hover {
    background-color: #dee7ec;
    border-color: #6D96A9;
}

/* zz tv-radio-controlpanel */
.y_menu
{
	font-size: 10pt;
	text-align: center;
/*	font-weight: bold;*/
	border: 1px solid #6D96A9;
	border-collapse: collapse;
	background: #F0FAFF;
	border-spacing: 1px;
    height: auto;

}


.y_menu a:hover
{
	text-decoration:underline;
	font-weight:bold;
}

.y_menu_logo
{
	background-image: url(images/tuxbox3.gif);
	background-position: center;
	background-repeat: no-repeat;
}
/*
.y_menu_sec
{
	font-size: 10pt;
	text-align: center;
	font-weight: bold;
	border: 1px solid #177298;
	border-collapse: collapse;
	background: #EDF6F7;
	border-spacing: 1px;
}

.y_menu_sec a:hover
{

	text-decoration:underline;
	font-weight:bold;
}
*/

.y_audio_bar
{
	background: #6D96A9;
}

.y_head
{
	font-weight: bold;
	color: #436976;
	font-size: 14pt;
	clear:both;
}

.y_work_box
{
	border: 1px solid #6D96A9;
	/*
	border: 1px solid #177298;*/
	background-color: #F0FAFF;
	border-spacing: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	float:left;
	width: auto;
	color: #436976;
	display:block;

}

.y_work_table
{
	border: 1px solid #6D96A9;
	background: White;
	border-collapse: collapse;
	border-spacing: 1px;
	color: #436976;

}
.y_live_box
{
	border-top: 1px solid #6D96A9;
	font-size: 8pt;

}
.y_wait_box
{
	font-size: 10pt;
	border: 1px solid #CC0000;
	border-collapse: collapse;
	background: #FFFFCC;
	border-spacing: 1px;
}
.y_live_table
{
	color: #436976;
	background-color: #F0FAFF;
	padding: 0;
	margin: 0;
	border: 0;
}
.y_live_button
{
	font-size: 8pt;
	height: 20px;
	padding: 0;
	color: #436976;

}
.y_live_bouquets
{
	font-size: 8pt;
	height: 20px;
	width: 300px;
	color: #436976;
}
.y_live_channels
{
	font-size: 8pt;
	height: 20px;
	width: 300px;
	color: #436976;
}
.y_live_audio_pids
{
	font-size: 8pt;
	height: 20px;
	width: 100px;
	color: #436976;
}

.y_form_table
{
	font-size: 10pt;
}

.y_invisible_table
{
	border: 0px;
	border-spacing: 0px;
	padding: 0;
}
