.servicename { color:#000000; font-size:12pt; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; }
.epgzeit { color:#000000; font-size:10pt; font-family: Verdana, Arial, Helvetica, sans-serif;}
.epgzeit_bold { color: #000000; font-weight: bold; font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif;}
.epgdur { color:#000000; font-size:10pt; font-family: Verdana, Arial, Helvetica, sans-serif;}
.epgname { color:#000000; font-size:10pt; font-family: Verdana, Arial, Helvetica, sans-serif;}
.epgname_bold { color: #000000; font-size:10pt; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
.epgdesc { color:#000000; font-size:10pt; font-family: tahoma, arial; font-family: Verdana, Arial, Helvetica, sans-serif;}
.title { color:#000000; font-size:10pt; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; background: #d9e0e7; }
.epg { color:#000000; font-size:10pt; font-family: Verdana, Arial, Helvetica, sans-serif; }

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #f4f4f4;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
	border-bottom: 1px solid #888888;
	border-top: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #888888;
	background-image: url(/grey.png); 
	background-repeat: repeat-x;
	
}

a {
	color: #263971;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:hover {
	color: #A91111;
}

#contentcell SELECT{
	background-color: #f4f4f4;
	padding: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	
}

#dvrctrl TD, 
#statcell TD {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	
}

#contentcell TD {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
	
}

#titletable TD {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	border-bottom: 1px solid #98A4B6;
	
}

#leftnavi {
	background-color: #D9E0E7;

	
}

#topnavi {
	background-color: #D9E0E7;
	border-bottom: 1px solid #98A4B6;
	border-top: 1px solid #98A4B6;
	border-left: 0px solid #98A4B6;
	border-right: 0px solid #98A4B6;
}

#dvrctrl, 
#channavi {
	background-color: #D9E0E7;
	border-bottom: 0px solid #98A4B6;
	border-top: 1px solid #98A4B6;
	border-left: 0px solid #98A4B6;
	border-right: 0px solid #98A4B6;
}

#channavi input {
	color: #ffffff;
}

#leftnavi input, 
#topnavi input {
	color: #000000;
}

#epg .channel,
#mepg .channel { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold; 
}

#mepg .time {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

#mepg .duration {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#epg .description,
#mepg .description {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}	

#epg TR, 
#mepg TR {
	background-color: #ffffff;
	border-bottom: 1px solid #000000;
}

#epg TABLE,
#mepg TABLE {
	border: 0px solid #000000;
}

#epg TH,
#epg TD,
#mepg TH,
#mepg TD {
	border-bottom: 1px solid #98A4B6;
	border-top: 1px solid #BBC8D4;
	border-left: 0px solid #000000;
	border-right: 1px solid #ffffff;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	vertical-align: top;
	text-align: left;
}

.genre00 {
	background-color: #E0E6EB;
}

.genre01 {
	background-color: #E7F587;
}

.genre02 {
	background-color: #DD95CA;
}

.genre03 {
	background-color: #A4DAE3;
}

.genre04 {
	background-color: #AECED4;
}

.genre05 {
	background-color: #1EDCA4;
}

.genre06 {
	background-color: #D5DC1E;
}

.genre07 {
	background-color: #DCBA1E;
}

.genre08 {
	background-color: #DA8E8E;
}

.genre09 {
	background-color: #DA8EBE;
}

.genre10 {
	background-color: #EF13F7;
}

.genre11 {
	background-color: #A771F7;
}

.genre12 {
	background-color: #8DB9F1;
}

.genre13 {
	background-color: #B9DBF1;
}

.genre14 {
	background-color: #B9ECF1;
}

.genre15 {
	background-color: #B9F1CF;
}

