a.volgreen { color:#00ff00; font-size:12pt; font-family: tahoma, arial; background-image: url(led_aan.gif)}
a.volnot { color:#c0c0c0; font-size:12pt; font-family: tahoma, arial; background-image: url(led_uit.gif)}
a.mute { color:#ffffff; font-size:8pt; font-family:tahoma, arial; }
a.audio { color:#000000; font-size:8pt; font-family:Verdana; }

.white { color:#000000; font-size:8pt; font-family: Verdana; letter-spacing: -1pt}
.black { color:#000000; font-size: 9pt; font-family: Verdana; }
.button { color:#ffffff; font-size: 10pt; font-weight: bold; font-family: Verdana; }
.titel { color:#ffffff; font-size:14pt; font-family: tahoma, arial; }
.servicename { color:#ffffff; font-size:13pt; font-family: tahoma, arial; }
.epgzeit { color:#000000; font-size:12pt; font-family: tahoma, arial; }
.epgdur { color:#000000; font-size:10pt; font-family: tahoma, arial; }
.epgname { color:#000000; font-size:12pt; font-family: tahoma, arial; }
.epgdesc { color:#000000; font-size:10pt; font-family: tahoma, arial; }

a.normal  { color:#000000; font-size:10pt; font-family: tahoma, arial; }
a.white   { color:#000000; font-size:10pt; font-family: Verdana; }
a.small   { color:#000000; font-size:8pt; font-family: tahoma, arial; }

a	{ color: #000000}
a:hover { color: #93A198}
a:link    { text-decoration:none; }
a:visited { text-decoration:none; }
a:active  { text-decoration:none; }
td.menu { font-family: Verdana; font-size: 10pt; font-weight: bold}
.title { color:#000000; font-size:14pt; font-family:tahoma,arial; }
.epg { color:#000000; font-size:10pt; font-family:tahoma,arial; }
td { color:#000000; font-size:10pt; font-family:tahoma,arial; } 
