.servicename { color:#ffffff; font-size:13pt; font-family: tahoma, arial; }
.epgzeit { color:#000000; font-size:12pt; font-family: tahoma, arial; }
.epgdur { color:#000000; font-size:10pt; font-family: tahoma, arial; }
.epgname { color:#000000; font-size:12pt; font-family: tahoma, arial; }
.epgdesc { color:#000000; font-size:10pt; font-family: tahoma, arial; }
.stats { color:#000000; font-size: 10px; }
.title { color:#000000; font-size:13pt; font-weight: bold; font-family: Verdana; background: #d9e0e7; }
.epg { color:#000000; font-size:10pt; font-family:tahoma,arial; }

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#mainbody {
	background-image: url(bg.png);
}

#headbody {
	background-image: url(bg.png);
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

td {
	font-size: 13px;
}

input {
	font-weight: bold;
	color: #ffffff;
}

a {
	color: #263971;
	text-decoration: underline;
}

a:hover {
	color: #A91111;
}

#contentcell {
	background-color: #f4f4f4;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#headercell {
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
}

#statcell {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-size: 8px;
}

#contentcell TD {
	color: #333333;
}

#leftnavi {
	background-color: #D9E0E7;
	border-right: 1px solid #98A4B6;
}

#topnavi {
	padding-left: 120px;
	background-color: #D9E0E7;
	border-bottom: 1px solid #98A4B6;
	border-top: 1px solid #98A4B6;
	border-left: 0px solid #98A4B6;
	border-right: 0px solid #98A4B6;
}

#channavi {
	padding-left: 120px;
	background-color: #D9E0E7;
	border-bottom: 1px solid #98A4B6;
	border-top: 1px solid #98A4B6;
	border-left: 0px solid #98A4B6;
	border-right: 0px solid #98A4B6;
}

#topnavi input,
#leftnavi input {
	color: #000000;
}

#contentcell .title {
	font-size:16pt;
}

#epg .channel,
#mepg .channel { 
	font-size: 16px;
	font-weight: bold; 
}

#epg .description
#mepg .description {
	font-size: 10px;
}	

#epg TR, 
#mepg TR {
	background-color: #E0E6EB;
	border-bottom: 1px solid #000000;
}

#epg TABLE,
#mepg TABLE {
	border: 0px solid #000000;
}

#epg TH,
#epg TD,
#mepg TH,
#mepg TD {
	border-bottom: 1px solid #98A4B6;
	border-top: 1px solid #BBC8D4;
	border-left: 0px solid #000000;
	border-right: 1px solid #ffffff;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	vertical-align: top;
	text-align: left;
}

.genre00 {
	background-color: #F3EE5F;
}

.genre01 {
	background-color: #E7F587;
}

.genre02 {
	background-color: #DD95CA;
}

.genre03 {
	background-color: #A4DAE3;
}

.genre04 {
	background-color: #AECED4;
}

.genre05 {
	background-color: #1EDCA4;
}

.genre06 {
	background-color: #D5DC1E;
}

.genre07 {
	background-color: #DCBA1E;
}

.genre08 {
	background-color: #DA8E8E;
}

.genre09 {
	background-color: #DA8EBE;
}

.genre10 {
	background-color: #EF13F7;
}

.genre11 {
	background-color: #A771F7;
}

.genre12 {
	background-color: #8DB9F1;
}

.genre13 {
	background-color: #B9DBF1;
}

.genre14 {
	background-color: #B9ECF1;
}

.genre15 {
	background-color: #B9F1CF;
}

.genre16 {
	background-color: #E0E6EB;
}

#megatable {
	border: 1px solid #98A4B6;
}

