body{background-color: #FFFFFF; margin: 0px; margin-left: 0px; margin-top: 0px; margin-right: 0px;}
img	{border:0;}

h1{font-family:Verdana,Arial; color:#BD4C00;}
h2{font-family:Verdana,Arial; color:#BD4C00;}
h3{font-family:Verdana,Arial; color:#BD4C00;}
h4{font-family:Verdana,Arial; color:#BD4C00;}
h5{font-family:Verdana,Arial; color:#BD4C00; text-decoration:underline;}
hr{color:#687D9D;}
tr {color:#000000; font-family:Verdana,Arial;}
tr.bouquet{background-color:#A7B6CB;}
td {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE:8pt;}
td.bouquet{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE:8pt;}
.epg{color:#BD4C00;}

a{color:#000000; text-decoration:none; font-size:8pt;}
a.blist:hover{color:#BD4C00; font-size:8pt; text-decoration:underline; font-weight:normal;}
a.clist:hover{color:#BD4C00; font-size:8pt; text-decoration:underline; font-weight:bold;}
a.clistsmall:hover{color:#BD4C00; font-size:8pt; text-decoration:underline;}
a.elist:hover{color:#BD4C00; font-size:8pt; text-decoration:underline; font-weight:normal;}

.a{background-color:#A7B6CB; font-weight:bold; font-family:Verdana,Arial; font-size:8pt;}
.aepg{background-color:#A7B6CB; font-weight:normal;	font-size:8pt;}
.b{background-color:#C9D5E5; font-weight:bold; font-size:8pt;}
.bepg{background-color:#C9D5E5; font-weight:normal; font-size:8pt;}
.c{background-color:#CABAAB; font-weight:bold; font-size:8pt;}
.cepg{background-color:#CABAAB; font-weight:normal; font-size:8pt;}

table.timer{ border-collapse: separated; border-spacing: 0px 2px;}
a.timer{color:#000000; text-decoration:underline;}
.atimer{background-color:#A7B6CB; font-weight:normal; font-size:8pt;}
.btimer{background-color:#C9D5E5; font-weight:normal; font-size:8pt;}
.ctimer{background-color:#CABAAB; font-weight:normal; font-size:8pt;}
.set{color:#000000; text-decoration:none; font-size:8pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal;}
.set1{color:#000000; text-decoration:none; font-size:8pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal;}
.bmess{color:#efefef; text-decoration:none; font-size:8pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold;}
.text{font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9pt; font-weight: normal; color: #000000;}
select{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;}
.copy{color:#BBC5D4; text-decoration:none; font-size:8pt;}
a.copy{color:#BBC5D4; text-decoration:none; font-size:8pt;}
a.copy:hover{color:#BBC5D4; font-size:8pt; text-decoration:underline; font-weight:normal;}
iframe {background-color: transparent;}
.tableborder {border: 1px solid #c5c5c5;}
.bouquetlist
{
	border: 0px;
	border-spacing: 0px;
	padding: 0px;

}
tr.bouquetlist
{
	background-color:#88B5FF;
}

/*channels*/
.bouquetitemlist
{
	border: 0px;
	border-spacing: 0px;
	padding: 0px;
	width: 90%;
}
.cslider_table
{
	height: 10px; 
	border: 1px solid Black; 
	width: 30px;
	border-spacing: 0px;
	padding: 0px;
}
.cslider_used
{
	background-color: #2211FF;
	height: 10px;
}
.cslider_free
{
	background-color: #EAEBFF;
	height: 10px;
}
/*EPG*/
.epg
{
	font-weight: bold;
	color: #436976;
	font-size: 14pt;
	clear:both;

}
.epglist
{
	border-spacing: 0px;
	width: 90%;
